## Clean the Data

In [102]:
# Imports 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Load in dataframes

In [2]:
felix_df = pd.read_csv('../data/Cleaned_Felix.csv')
felix_df.head()

,Unnamed: 0,ceremony_year,ceremony,award_category,name,film,status
0,0,2025,97th,Actor in a Leading Role,Adrien Brody,The Brutalist,Won
1,1,2025,97th,Actor in a Supporting Role,Kieran Culkin,A Real Pain,Won
2,2,2025,97th,Actress in a Leading Role,Mikey Madison,Anora,Won
3,3,2025,97th,Actress in a Supporting Role,Zoe Saldaa,Emilia Perez,Won
4,4,2025,97th,Animated Feature Film,"Gints Zilbalodis, Mat_ss Ka_a, Ron Dyens and G...",Flow,Won

In [3]:
swathi_df = pd.read_csv('../data/Swathi.csv')
swathi_df.head()

,Position,Const,Created,Modified,Description,Title,Original Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,1,tt0018578,2021-03-25,2021-03-25,NaN,Wings,Wings,https://www.imdb.com/title/tt0018578/,Movie,7.5,144.0,1927,"Drama, Romance, War, Action",15336,1929-01-05,"William A. Wellman, Harry d'Abbadie d'Arrast"
1,2,tt0019304,2021-03-25,2021-03-25,NaN,The Racket,The Racket,https://www.imdb.com/title/tt0019304/,Movie,6.6,84.0,1928,"Crime, Drama, Film-Noir",1727,1928-11-01,Lewis Milestone
2,3,tt0018379,2021-03-25,2021-03-25,NaN,7th Heaven,7th Heaven,https://www.imdb.com/title/tt0018379/,Movie,7.5,110.0,1927,"Drama, Romance",4403,1927-10-30,Frank Borzage
3,4,tt0018455,2021-03-25,2021-03-25,NaN,Sunrise,Sunrise: A Song of Two Humans,https://www.imdb.com/title/tt0018455/,Movie,8.1,94.0,1927,"Drama, Romance",55269,1927-11-04,F.W. Murnau
4,5,tt0017743,2021-03-25,2021-03-25,NaN,Chang: A Drama of the Wilderness,Chang: A Drama of the Wilderness,https://www.imdb.com/title/tt0017743/,Movie,6.8,69.0,1927,"Documentary, Adventure, Drama",1188,1927-09-03,"Merian C. Cooper, Ernest B. Schoedsack"

# First cleaning felix_df

In [4]:
# Check shape: 10_982 rows, 7 columns
felix_df.shape

(10982, 7)

In [5]:
# Look for nulls: Nulls in columns: name & film
felix_df.isnull().sum()

Unnamed: 0          0
ceremony_year       0
ceremony            0
award_category      0
name                2
film              309
status              0
dtype: int64

In [6]:
# Investigate nulls for name column: 
# Both nulls are for the award_category: Jean Hersholt Humanitaruan Award
felix_df[felix_df['name'].isnull()]

,Unnamed: 0,ceremony_year,ceremony,award_category,name,film,status
470,470,2022,94th,Jean Hersholt Humanitarian Award,NaN,NaN,Won
592,592,2021,93rd,Jean Hersholt Humanitarian Award,NaN,NaN,Won

In [7]:
# Investigate nulls for film column: 
# The nulls are only in the honorary or humanitarian categories which aren't a part of the official 23 oscare categories
felix_df[felix_df['film'].isnull()].head(10)

,Unnamed: 0,ceremony_year,ceremony,award_category,name,film,status
470,470,2022,94th,Jean Hersholt Humanitarian Award,NaN,NaN,Won
471,471,2022,94th,Honorary Award,"To Samuel L. Jackson, whose dynamic performanc...",NaN,Won
472,472,2022,94th,Honorary Award,"To Elaine May, writer, director, performer, pi...",NaN,Won
473,473,2022,94th,Honorary Award,"To Liv Ullmann, for her deeply affecting scree...",NaN,Won
592,592,2021,93rd,Jean Hersholt Humanitarian Award,NaN,NaN,Won
717,717,2020,92nd,Jean Hersholt Humanitarian Award,Geena Davis,NaN,Won
718,718,2020,92nd,Honorary Award,David Lynch,NaN,Won
719,719,2020,92nd,Honorary Award,Wes Studi,NaN,Won
720,720,2020,92nd,Honorary Award,Lina Wertma14ller,NaN,Won
842,842,2019,91st,Honorary Award,Marvin Levy,NaN,Won

In [8]:
# Delete all rows where film name is null
felix_df = felix_df.dropna(subset=['film'])
#felix_df['film'].isnull().sum()
felix_df.isnull().sum()

Unnamed: 0        0
ceremony_year     0
ceremony          0
award_category    0
name              0
film              0
status            0
dtype: int64

In [9]:
# Drop column Unnamed: 0
felix_df = felix_df.drop(columns = 'Unnamed: 0')
felix_df.head()

,ceremony_year,ceremony,award_category,name,film,status
0,2025,97th,Actor in a Leading Role,Adrien Brody,The Brutalist,Won
1,2025,97th,Actor in a Supporting Role,Kieran Culkin,A Real Pain,Won
2,2025,97th,Actress in a Leading Role,Mikey Madison,Anora,Won
3,2025,97th,Actress in a Supporting Role,Zoe Saldaa,Emilia Perez,Won
4,2025,97th,Animated Feature Film,"Gints Zilbalodis, Mat_ss Ka_a, Ron Dyens and G...",Flow,Won

In [10]:
# Look into award categories:
# 112 categories but there should only be 23
felix_df['award_category'].value_counts().shape

(112,)

In [11]:
# Names of all the categories:
# A lot of the categories are the same thing but they were named different after 1976
felix_df['award_category'].unique()

array(['Actor in a Leading Role', 'Actor in a Supporting Role',
       'Actress in a Leading Role', 'Actress in a Supporting Role',
       'Animated Feature Film', 'Animated Short Film', 'Cinematography',
       'Costume Design', 'Directing', 'Documentary Feature Film',
       'Documentary Short Film', 'Film Editing',
       'International Feature Film', 'Makeup and Hairstyling',
       'Music (Original Score)', 'Music (Original Song)', 'Best Picture',
       'Production Design', 'Live Action Short Film', 'Sound',
       'Visual Effects', 'Writing (Adapted Screenplay)',
       'Writing (Original Screenplay)', 'Actor In a Leading Role',
       'Actor In a Supporting Role', 'Actress In a Leading Role',
       'Actress In a Supporting Role', 'Short Film (Animated)',
       'Short Film (Live Action)', 'Documentary (Feature)',
       'Documentary (Short Subject)', 'Sound Editing', 'Sound Mixing',
       'Foreign Language Film', 'Art Direction', 'Makeup',
       'Writing (Screenplay Based on Material Previously Produced Or Published)',
       'Writing (Screenplay Written Directly for the Screen)',
       'Sound Effects Editing', 'Music (Original Dramatic Score)',
       'Music (Original Musical or Comedy Score)',
       'Writing (Screenplay Based on Material From Another Medium)',
       'Special Achievement Award (Visual Effects)',
       'Special Achievement Award (Sound Effects Editing)',
       'Music (Original Song Score)',
       'Music (Original Song Score or Adaptation Score)',
       'Music (Original Song Score and its Adaptation -or- Adaptation Score)',
       'Short Film (Dramatic Live Action)',
       'Special Achievement Award (Sound Editing)',
       'Music (Adaptation Score)',
       'Music (Original Song Score and its Adaptation or Adaptation Score)',
       'Writing (Screenplay--Based on Material from Another Medium)',
       'Writing (Screenplay Written Directly for the Screen--based nn Factual Material or on Story Material not Previously Published or Produced)',
       'Actor', 'Actress',
       'Music (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)',
       'Writing (Screenplay Adapted from Other Material)',
       'Special Achievement Award (Sound Effects)', 'Music (Song)',
       'Short Subject (Animated)', 'Short Subject (Live Action)',
       'Writing (Story and Screenplay--Based on Factual Material or Material not Previously Published or Produced)',
       'Music (Scoring: Adaptation and Original Song Score)',
       'Music (Song--Original for the Picture)', 'Special Visual Effects',
       'Short Subject (Cartoon)',
       'Music (Original Score--For a Motion Picture [Not a Musical])',
       'Music (Score of a Musical Picture--Original or Adaptation)',
       'Writing (Story and Screenplay--Based on Material not Previously Published or Produced)',
       'Writing (Story and Screenplay--Written Directly for the Screen)',
       'Music (Original Music Score)',
       'Music (Scoring of Music--Adaptation or Treatment)',
       'Sound Effects', 'Art Direction (Black-And-White)',
       'Art Direction (Color)', 'Cinematography (Black-And-White)',
       'Cinematography (Color)', 'Costume Design (Black-And-White)',
       'Costume Design (Color)',
       'Music (Music Score--Substantially Original)', 'Special Effects',
       'Music (Music Score of a Dramatic or Comedy Picture)',
       'Music (Scoring of a Musical Picture)', 'Best Motion Picture',
       'Music (Scoring)', 'Sound Recording', 'Short Subject (One-Reel)',
       'Short Subject (Two-Reel)', 'Writing (Motion Picture Story)',
       'Writing (Screenplay--Adapted)', 'Writing (Screenplay--Original)',
       'Writing (Screenplay)', 'Writing (Story and Screenplay)',
       'Writing (Original Motion Picture Story)',
       'Outstanding Motion Picture', 'Documentary',
       'Music (Music Score of a Dramatic Picture)',
       'Writing (Original Story)', 'Outstanding Production',
       'Assistant Director', 'Dance Direction', 'Short Subject (Color)',
       'Short Subject (Comedy)', 'Short Subject (Novelty)',
       'Writing (Adaptation)', 'Writing', 'Outstanding Picture',
       'Directing (Comedy Picture)', 'Directing (Dramatic Picture)',
       'Engineering Effects', 'Unique and Artistic Picture',
       'Writing (Title Writing)'], dtype=object)

## List out the 23 categories on the Oscar website https://www.oscars.org/oscars/ceremonies/2025
### Also listing the cols that are apart of the same category 
#### Actor in Leading role: 
- 'Actor in a Leading Role', 'Actor', 'Actor In a Leading Role'
#### Actor in Supporting role: 
- 'Actor in a Supporting Role', 'Actor In a Supporting Role'
#### Actress in Leading role: 
- 'Actress in a Leading Role', 'Actress', 'Actress In a Leading Role'
#### Actress in Supporting role: 
- 'Actress in a Supporting Role', 'Actress In a Supporting Role'
#### Animated feature film: 
- 'Animated Feature Film'
#### Animated short film: 
- 'Animated Short Film', 'Short Film (Animated)', 'Short Subject (Cartoon)','Short Subject (Animated)'
#### Cinemotography: 
- 'Cinematography', 'Cinematography (Black-And-White)', 'Cinematography (Color)'
#### Costume design: 
- 'Costume Design', 'Costume Design (Black-And-White)', 'Costume Design (Color)'
#### Directing: 
- 'Directing','Directing (Dramatic Picture)','Directing (Comedy Picture)'
#### Documentary feature film: 
- 'Documentary Feature Film', 'Documentary (Feature)','Documentary'
#### Documentary short film: 
- 'Documentary Short Film', 'Documentary (Short Subject)'
#### Film editing: 
- 'Film Editing'
#### International feature film: 
- 'International Feature Film', 'Foreign Language Film'
#### Makeup and hairstyling: 
- 'Makeup and Hairstyling', 'Makeup'
#### Music (original score): 
- 'Music (Original Score)', 'Music (Music Score of a Dramatic or Comedy Picture)','Music (Scoring of a Musical Picture)', 'Music (Scoring)', 'Music (Original Dramatic Score)', 'Music (Scoring of Music--Adaptation or Treatment)','Music (Original Musical or Comedy Score)','Music (Music Score--Substantially Original)','Music (Music Score of a Dramatic Picture)','Music (Original Music Score)','Music (Score of a Musical Picture--Original or Adaptation)','Music (Original Score--For a Motion Picture [Not a Musical])','Music (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)','Music (Scoring: Adaptation and Original Song Score)','Music (Original Song Score)','Music (Original Song Score and its Adaptation or Adaptation Score)','Music (Original Song Score and its Adaptation -or- Adaptation Score)','Music (Original Song Score or Adaptation Score)','Music (Adaptation Score)'
#### Music (original song): 
- 'Music (Original Song)', 'Music (Song)','Music (Song--Original for the Picture)' 
#### Best picture: 
- 'Best Picture', 'Outstanding Production', 'Best Motion Picture','Outstanding Motion Picture','Outstanding Picture'
#### Production design: 
- 'Production Design', 'Art Direction', 'Art Direction (Black-And-White)', 'Art Direction (Color)'                  
#### Live action short film: 
- 'Live Action Short Film', 'Short Film (Live Action)', 'Short Subject (One-Reel)', 'Short Subject (Two-Reel)','Short Subject (Live Action)','Short Subject (Comedy)','Short Subject (Novelty)','Short Subject (Color)','Short Film (Dramatic Live Action)'
#### Sound: 
- 'Sound', 'Sound Recording', 'Sound Editing', 'Sound Mixing','Sound Effects Editing','Special Achievement Award (Sound Editing)','Sound Effects','Special Achievement Award (Sound Effects Editing)','Special Achievement Award (Sound Effects)'
#### Visual effects: 
- 'Visual Effects', 'Special Effects','Special Visual Effects','Special Achievement Award (Visual Effects)'
#### Writing (adapted screenplay): 
- 'Writing (Adapted Screenplay)', 'Writing (Screenplay--Based on Material from Another Medium)','Writing (Screenplay Based on Material From Another Medium)', 'Writing (Screenplay Based on Material Previously Produced Or Published)','Writing (Adaptation)','Writing (Screenplay Adapted from Other Material)''Writing (Screenplay--Adapted)'
#### Writing (original screenplay): 
- 'Writing (Original Screenplay)', 'Writing (Screenplay Written Directly for the Screen)','Writing (Screenplay)','Writing (Story and Screenplay--Written Directly for the Screen)', 'Writing (Original Story)', 'Writing (Motion Picture Story)','Writing (Story and Screenplay)','Writing (Original Motion Picture Story)','Writing (Story and Screenplay--Based on Factual Material or Material not Previously Published or Produced)','Writing','Writing (Screenplay Written Directly for the Screen--based nn Factual Material or on Story Material not Previously Published or Produced)','Writing (Screenplay--Original)','Writing (Story and Screenplay--Based on Material not Previously Published or Produced)''Writing (Title Writing)'

## Mapping out all the 23 categories and all the categories associated

In [12]:
category_mapping = {
    'Actor in a Leading Role' : ['Actor in a Leading Role', 
                                 'Actor',
                                 'Actor In a Leading Role'],
    'Actor in a Supporting Role' : ['Actor in a Supporting Role', 
                                    'Actor In a Supporting Role'],
    'Actress in a Leading Role' : ['Actress in a Leading Role', 
                                   'Actress', 
                                   'Actress In a Leading Role'],
    'Actress in a Supporting Role' : ['Actress in a Supporting Role', 
                                      'Actress In a Supporting Role'],
    'Animated Feature Film' : ['Animated Feature Film'],
    'Animated Short Film' : ['Animated Short Film', 
                             'Short Film (Animated)', 
                             'Short Subject (Cartoon)',
                             'Short Subject (Animated)'],
    'Cinematography' : ['Cinematography', 
                        'Cinematography (Black-And-White)', 
                        'Cinematography (Color)'],
    'Costume Design' : ['Costume Design', 
                        'Costume Design (Black-And-White)', 
                        'Costume Design (Color)'],
    'Directing' : ['Directing',
                   'Directing (Dramatic Picture)',
                   'Directing (Comedy Picture)'],
    'Documentary Feature Film' : ['Documentary Feature Film', 
                                  'Documentary (Feature)',
                                  'Documentary'],
    'Documentary Short Film' : ['Documentary Short Film', 
                                'Documentary (Short Subject)'],
    'Film Editing' : ['Film Editing'],
    'International Feature Film' : ['International Feature Film', 
                                    'Foreign Language Film'],
    'Makeup and Hairstyling' : ['Makeup and Hairstyling', 
                                'Makeup'],
    'Music (Original Score)' : ['Music (Original Score)', 
                                'Music (Music Score of a Dramatic or Comedy Picture)',
                                'Music (Scoring of a Musical Picture)', 'Music (Scoring)', 
                                'Music (Original Dramatic Score)', 'Music (Scoring of Music--Adaptation or Treatment)',
                                'Music (Original Musical or Comedy Score)','Music (Music Score--Substantially Original)',
                                'Music (Music Score of a Dramatic Picture)','Music (Original Music Score)',
                                'Music (Score of a Musical Picture--Original or Adaptation)',
                                'Music (Original Score--For a Motion Picture [Not a Musical])',
                                'Music (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)',
                                'Music (Scoring: Adaptation and Original Song Score)',
                                'Music (Original Song Score)',
                                'Music (Original Song Score and its Adaptation or Adaptation Score)',
                                'Music (Original Song Score and its Adaptation -or- Adaptation Score)',
                                'Music (Original Song Score or Adaptation Score)',
                                'Music (Adaptation Score)'],
    'Music (Original Song)': ['Music (Original Song)', 
                              'Music (Song)',
                              'Music (Song--Original for the Picture)'],
    'Best Picture' : ['Best Picture', 
                      'Outstanding Production', 
                      'Best Motion Picture',
                      'Outstanding Motion Picture',
                      'Outstanding Picture'],
    'Production Design' : ['Production Design', 
                           'Art Direction', 
                           'Art Direction (Black-And-White)', 
                           'Art Direction (Color)'],
    'Live Action Short Film' : ['Live Action Short Film', 
                                'Short Film (Live Action)', 
                                'Short Subject (One-Reel)', 
                                'Short Subject (Two-Reel)',
                                'Short Subject (Live Action)',
                                'Short Subject (Comedy)',
                                'Short Subject (Novelty)',
                                'Short Subject (Color)',
                                'Short Film (Dramatic Live Action)'],
    'Sound' : ['Sound', 
               'Sound Recording', 
               'Sound Editing', 
               'Sound Mixing',
               'Sound Effects Editing',
               'Special Achievement Award (Sound Editing)',
               'Sound Effects',
               'Special Achievement Award (Sound Effects Editing)',
               'Special Achievement Award (Sound Effects)'],
    'Visual Effects' : ['Visual Effects', 
                        'Special Effects',
                        'Special Visual Effects',
                        'Special Achievement Award (Visual Effects)'],
    'Writing (Adapted Screenplay)' : ['Writing (Adapted Screenplay)', 
                                      'Writing (Screenplay--Based on Material from Another Medium)',
                                      'Writing (Screenplay Based on Material From Another Medium)', 
                                      'Writing (Screenplay Based on Material Previously Produced Or Published)',
                                      'Writing (Adaptation)',
                                      'Writing (Screenplay Adapted from Other Material)',
                                      'Writing (Screenplay--Adapted)'],
    'Writing (Original Screenplay)' : ['Writing (Original Screenplay)', 
                                       'Writing (Screenplay Written Directly for the Screen)',
                                       'Writing (Screenplay)',
                                       'Writing (Story and Screenplay--Written Directly for the Screen)', 
                                       'Writing (Original Story)', 
                                       'Writing (Motion Picture Story)',
                                       'Writing (Story and Screenplay)',
                                       'Writing (Original Motion Picture Story)',
                                       'Writing (Story and Screenplay--Based on Factual Material or Material not Previously Published or Produced)',
                                       'Writing',
                                       'Writing (Screenplay Written Directly for the Screen--based nn Factual Material or on Story Material not Previously Published or Produced)',
                                       'Writing (Screenplay--Original)',
                                       'Writing (Story and Screenplay--Based on Material not Previously Published or Produced)',
                                       'Writing (Title Writing)']
}

In [13]:
# Apply the mapping 
# Invert the category_mapping dictionary to create a flat mapping
flat_mapping = {}
for standard, variants in category_mapping.items():
    for v in variants:
        flat_mapping[v] = standard

# Apply the mapping to the dataframe
# Create another column with correct categories
felix_df['oscar_category'] = felix_df['award_category'].map(flat_mapping).fillna(felix_df['award_category'])

In [14]:
felix_df.head()

,ceremony_year,ceremony,award_category,name,film,status,oscar_category
0,2025,97th,Actor in a Leading Role,Adrien Brody,The Brutalist,Won,Actor in a Leading Role
1,2025,97th,Actor in a Supporting Role,Kieran Culkin,A Real Pain,Won,Actor in a Supporting Role
2,2025,97th,Actress in a Leading Role,Mikey Madison,Anora,Won,Actress in a Leading Role
3,2025,97th,Actress in a Supporting Role,Zoe Saldaa,Emilia Perez,Won,Actress in a Supporting Role
4,2025,97th,Animated Feature Film,"Gints Zilbalodis, Mat_ss Ka_a, Ron Dyens and G...",Flow,Won,Animated Feature Film

In [15]:
# Check new column, all correct 23 columns + the 4 discontinued oscar categories
felix_df['oscar_category'].value_counts()

oscar_category
Music (Original Score)           818
Sound                            671
Writing (Original Screenplay)    663
Cinematography                   639
Production Design                622
Best Picture                     601
Live Action Short Film           504
Actress in a Leading Role        481
Directing                        479
Actor in a Leading Role          477
Music (Original Song)            474
Film Editing                     455
Costume Design                   454
Actress in a Supporting Role     445
Actor in a Supporting Role       445
Animated Short Film              398
Documentary Short Film           393
Documentary Feature Film         385
Writing (Adapted Screenplay)     362
International Feature Film       345
Visual Effects                   278
Makeup and Hairstyling           138
Animated Feature Film            104
Dance Direction                   21
Assistant Director                17
Unique and Artistic Picture        3
Engineering Effects                1
Name: count, dtype: int64

### Award categories to drop
- 'Dance Direction': only in oscar years 1935-1937, then discontinued
- 'Assistant Director': only in oscar years 1933-1937, then discontinued
- 'Unique and Artistic Picture': only in oscar year 1929, then discontinued
- 'Engineering Effects': only in oscar year 1929, then discontinued

In [16]:
felix_df = felix_df[~felix_df['oscar_category'].isin([
    'Dance Direction',
    'Assistant Director',
    'Unique and Artistic Picture',
    'Engineering Effects'
])]

In [17]:
felix_df['oscar_category'].value_counts().shape

(23,)

### Dropping award_category and just keeping oscar_category b/c it is accurate and clean, will also be dropping name b/c we will not be using the names of the individuals who recieved hte socar just the film name

In [18]:
felix_df = felix_df.drop(columns = ['award_category',
                                    'name'])

In [19]:
felix_df['status'].value_counts()

status
Nominated    8446
Won          2185
Name: count, dtype: int64

# Cleaning the Swathi csv

In [20]:
swathi_df.head()

,Position,Const,Created,Modified,Description,Title,Original Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,1,tt0018578,2021-03-25,2021-03-25,NaN,Wings,Wings,https://www.imdb.com/title/tt0018578/,Movie,7.5,144.0,1927,"Drama, Romance, War, Action",15336,1929-01-05,"William A. Wellman, Harry d'Abbadie d'Arrast"
1,2,tt0019304,2021-03-25,2021-03-25,NaN,The Racket,The Racket,https://www.imdb.com/title/tt0019304/,Movie,6.6,84.0,1928,"Crime, Drama, Film-Noir",1727,1928-11-01,Lewis Milestone
2,3,tt0018379,2021-03-25,2021-03-25,NaN,7th Heaven,7th Heaven,https://www.imdb.com/title/tt0018379/,Movie,7.5,110.0,1927,"Drama, Romance",4403,1927-10-30,Frank Borzage
3,4,tt0018455,2021-03-25,2021-03-25,NaN,Sunrise,Sunrise: A Song of Two Humans,https://www.imdb.com/title/tt0018455/,Movie,8.1,94.0,1927,"Drama, Romance",55269,1927-11-04,F.W. Murnau
4,5,tt0017743,2021-03-25,2021-03-25,NaN,Chang: A Drama of the Wilderness,Chang: A Drama of the Wilderness,https://www.imdb.com/title/tt0017743/,Movie,6.8,69.0,1927,"Documentary, Adventure, Drama",1188,1927-09-03,"Merian C. Cooper, Ernest B. Schoedsack"

In [21]:
# Check shape
swathi_df.shape

(5163, 16)

In [22]:
# Check for nulls 
swathi_df.isnull().sum()

Position             0
Const                0
Created              0
Modified             0
Description       5161
Title                0
Original Title       0
URL                  0
Title Type           0
IMDb Rating         67
Runtime (mins)      12
Year                 0
Genres               1
Num Votes            0
Release Date       244
Directors           75
dtype: int64

## Dropping columns 
- Position: b/c a repeat of the index
- Const: b/c won't be used
- Created: b/c it represents when the document was created
- Modified: same reason as created
- Description: b/c it is missing for every row expect 2
- URL: not needed

In [23]:
swathi_df.drop(columns = ['Position',
                          'Const',
                          'Created',
                          'Modified',
                          'Description',
                          'URL'], inplace = True)

In [24]:
swathi_df.head()

,Title,Original Title,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,Wings,Wings,Movie,7.5,144.0,1927,"Drama, Romance, War, Action",15336,1929-01-05,"William A. Wellman, Harry d'Abbadie d'Arrast"
1,The Racket,The Racket,Movie,6.6,84.0,1928,"Crime, Drama, Film-Noir",1727,1928-11-01,Lewis Milestone
2,7th Heaven,7th Heaven,Movie,7.5,110.0,1927,"Drama, Romance",4403,1927-10-30,Frank Borzage
3,Sunrise,Sunrise: A Song of Two Humans,Movie,8.1,94.0,1927,"Drama, Romance",55269,1927-11-04,F.W. Murnau
4,Chang: A Drama of the Wilderness,Chang: A Drama of the Wilderness,Movie,6.8,69.0,1927,"Documentary, Adventure, Drama",1188,1927-09-03,"Merian C. Cooper, Ernest B. Schoedsack"

In [25]:
# Check min year in felix_df b/c if row is not in the felix_df it won't be used
felix_df['ceremony_year'].min()

1928

In [26]:
swathi_df['Year'].min()

1925

### Dropping all rows where the year is less than 1928

In [27]:
swathi_df = swathi_df[swathi_df['Year'] >= 1928]

In [28]:
# Check it 
swathi_df['Year'].min()

1928

In [29]:
swathi_df.isnull().sum()

Title               0
Original Title      0
Title Type          0
IMDb Rating        67
Runtime (mins)     12
Year                0
Genres              1
Num Votes           0
Release Date      244
Directors          75
dtype: int64

### Look into which movies don't have an IMDb rating

In [30]:
swathi_df[swathi_df['IMDb Rating'].isnull()].iloc[0:34]

,Title,Original Title,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
29,The Patriot,The Patriot,Movie,NaN,113.0,1928,"Drama, History, Thriller",0,1928-09-01,Ernst Lubitsch
51,4 Devils,4 Devils,Movie,NaN,100.0,1928,Drama,0,1929-08-01,F.W. Murnau
175,Bosom Friends,Bosom Friends,Short,NaN,10.0,1934,Short,0,1934-04-23,NaN
306,Deep South,Deep South,Short,NaN,20.0,1937,"Short, Musical",0,NaN,Leslie Goodwins
547,Russian Soil,Russian Soil,Short,NaN,20.0,1941,"Documentary, Short",0,1941,NaN
552,Beauty and the Beach,Beauty and the Beach,Short,NaN,11.0,1941,"Short, Music",0,1941-09-26,Leslie M. Roush
556,Sagebrush and Silver,Sagebrush and Silver,Short,NaN,10.0,1941,"Documentary, Short",0,1941-08-15,Frank Hurley
558,Alive in the Deep,Alive in the Deep,Short,NaN,25.0,1941,"Documentary, Short",0,1941-05-07,NaN
666,Desert Wonderland,Desert Wonderland,Short,NaN,9.0,1942,Short,0,NaN,Jack Kuhne
742,Children of Mars,Children of Mars,Short,NaN,10.0,1943,"Documentary, Short",0,NaN,Frank P. Donovan
746,Tomorrow We Fly,Tomorrow We Fly,Short,NaN,10.0,1943,"Documentary, Short",0,NaN,NaN
750,Champions Carry on,Champions Carry on,Short,NaN,10.0,1943,Short,0,NaN,NaN
826,Blue-Grass Gentlemen,Blue-Grass Gentlemen,Short,NaN,10.0,1944,Short,0,NaN,Tom Cummiskey
921,Your National Gallery,Your National Gallery,Short,NaN,10.0,1945,Short,0,NaN,Thomas Mead
997,Life at the Zoo,Life at the Zoo,Short,NaN,20.0,1946,"Documentary, Short",0,NaN,NaN
1002,Golden Horses,Golden Horses,Short,NaN,10.0,1946,Short,0,NaN,Tom Cummiskey
1062,A Voice Is Born,A Voice Is Born,Short,NaN,21.0,1947,"Short, Biography, Drama, Music, War",0,1947-12-29,George Blake
1109,Cinderella Horse,Cinderella Horse,Short,NaN,10.0,1948,Short,0,1949-04-23,"De Leon Anthony, Harry O. Hoyt, Edwin E. Olsen"
1115,Samba-Mania,Samba-Mania,Short,NaN,18.0,1948,"Short, Musical, Romance",0,1948-02-27,Billy Daniel
1116,Snow Capers,Snow Capers,Short,NaN,19.0,1948,Short,0,NaN,Arthur Cohen
1159,Kenji Comes Home,Kenji Comes Home,Movie,NaN,30.0,1949,Documentary,0,NaN,Charles F. Schwep
1171,Chase of Death,Chase of Death,Short,NaN,NaN,1949,Short,0,NaN,Irving Allen
1279,The Seeing Eye,The Seeing Eye,Short,NaN,20.0,1951,"Documentary, Short",0,1951-12,Owen Crump
1284,Balzac,Balzac,Short,NaN,24.0,1951,Short,0,NaN,Jean Vidal
1337,Devil Take Us,Devil Take Us,Short,NaN,21.0,1955,"Short, Drama",0,1955-06-17,Herbert Morgan
1338,The Garden Spider,The Garden Spider,Short,NaN,10.0,1952,"Documentary, Short",0,NaN,Alberto Ancilotto
1341,Athletes of the Saddle,Athletes of the Saddle,Short,NaN,10.0,1952,"Short, Sport",0,1952-08-01,Jack Eaton
1345,Bridge of Time,Bridge of Time,Short,NaN,17.0,1950,Short,0,1950-04,"Geoffrey Boothby, David Eady"
1346,Thar She Blows!,Thar She Blows!,Short,NaN,20.0,1952,Short,0,1952-12,Richard Statile
1397,The Word,The Word,Short,NaN,20.0,1953,"Documentary, Short",0,NaN,NaN
1401,Joy of Living,Joy of Living,Short,NaN,10.0,1952,Short,0,1952-10,Jean Oser
1402,Wee Water Wonders,Wee Water Wonders,Short,NaN,9.0,1953,"Documentary, Short",0,NaN,Russell T. Ervin
1407,Winter Paradise,Winter Paradise,Short,NaN,20.0,1953,"Documentary, Short",0,1953-12,John Jay
1575,The Dark Wave,The Dark Wave,Short,NaN,23.0,1956,"Documentary, Short",0,1956-06,Jean Negulesco

In [31]:
swathi_df[swathi_df['IMDb Rating'].isnull()].iloc[34:68]

,Title,Original Title,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
1580,Time Stood Still,Time Stood Still,Short,NaN,9.0,1956,Short,0,1956-04-21,Andr de la Varre
1669,The Hidden World,The Hidden World,Movie,NaN,50.0,1958,Documentary,0,NaN,NaN
1828,Breaking the Language Barrier,Breaking the Language Barrier,Short,NaN,14.0,1961,"Documentary, Short",0,NaN,NaN
1831,L'uomo in grigio,L'uomo in grigio,Short,NaN,NaN,1961,"Documentary, Short",0,NaN,NaN
1834,Ballon vole,Ballon vole,Short,NaN,12.0,1960,Short,0,1961,Jean Dasque
1889,The Cliff Dwellers,The Cliff Dwellers,Short,NaN,NaN,1962,Short,0,1962,Hayward Anderson
1931,Le maillon et la chane,Le maillon et la chane,Movie,NaN,80.0,1963,Documentary,0,NaN,"Jacques Ertaud, Bernard Gorki"
1938,To Live Again,To Live Again,Short,NaN,NaN,1963,"Documentary, Short",0,1963-07-10,NaN
1999,Children Without,Children Without,Short,NaN,29.0,1965,"Documentary, Short",0,1965-02-06,Charles Guggenheim
2049,Mural on Our Street,Mural on Our Street,Short,NaN,10.0,1965,"Documentary, Short",0,1965-01-18,Dee Dee Halleck
2051,Point of View,Point of View,Short,NaN,18.0,1966,"Documentary, Short",0,1966-10,NaN
2095,The Face of a Genius,The Face of Genius,Movie,NaN,50.0,1966,Documentary,0,1966-03-21,Alfred R. Kelman
2101,Cowboy,Cowboy,Short,NaN,17.0,1966,"Documentary, Short",0,NaN,Michael Ahnemann
2106,The Winning Strain,The Winning Strain,Short,NaN,9.0,1966,"Documentary, Short, Sport",0,NaN,NaN
2194,Other Voices,Other Voices,Movie,NaN,100.0,1970,Documentary,0,1970-01-26,David H. Sawyer
2251,An Impression of John Steinbeck: Writer,An Impression of John Steinbeck: Writer,Short,NaN,22.0,1969,"Documentary, Short",0,NaN,Donald Wrye
2292,A Long Way from Nowhere,A Long Way from Nowhere,Short,NaN,NaN,1970,"Documentary, Short",0,NaN,NaN
2294,Time Is Running Out,Time Is Running Out,Short,NaN,33.0,1970,"Documentary, Short",0,1970-11,Robert Mngoz
2394,K-Z,K-Z,Short,NaN,20.0,1972,"Documentary, Short",0,NaN,Giorgio Treves
2395,Selling Out,Selling Out,Short,NaN,32.0,1972,"Documentary, Short",0,1972-11,Tadeusz Jaworski
2437,Walls of Fire,Walls of Fire,Movie,NaN,80.0,1971,Documentary,0,1971-01-04,"Herbert Kline, Edmund Penney"
2444,Clockmaker,Clockmaker,Short,NaN,26.0,1971,Short,0,1971,Richard Gayer
2539,Millions of Years Ahead of Man,Millions of Years Ahead of Man,Short,NaN,26.0,1975,"Documentary, Short",0,NaN,NaN
2540,Probes in Space,Probes in Space,Short,NaN,23.0,1975,"Documentary, Short",0,NaN,NaN
2687,Goodnight Miss Ann,Goodnight Miss Ann,Short,NaN,28.0,1978,"Documentary, Short",0,1978-10,August Cinquegrana
2730,Generation on the Wind,Generation on the Wind,Movie,NaN,58.0,1979,Documentary,0,1979-10,David Vassar
2791,Don't Mess with Bill,Don't Mess with Bill,Short,NaN,11.0,1980,"Documentary, Short",0,NaN,NaN
2836,Urge to Build,Urge to Build,Short,NaN,27.0,1981,"Documentary, Short",0,NaN,Roland Hall
2970,High Schools,High Schools,Movie,NaN,59.0,1983,Documentary,0,1983,Charles Guggenheim
2981,Tales of Meeting and Parting,Tales of Meeting and Parting,Short,NaN,15.0,1985,"Short, Drama",0,1985-04,Lesli Linka Glatter
3181,The Children's Storefront,The Children's Storefront,Short,NaN,14.0,1988,"Documentary, Short",0,NaN,Karen Goodman
3234,Amazon Diary,Amazon Diary,Short,NaN,17.0,1989,Short,0,NaN,Robert Nixon
3377,At the Edge of Conquest: The Journey of Chief ...,At the Edge of Conquest: The Journey of Chief ...,Short,NaN,28.0,1992,"Documentary, Short",0,NaN,Geoffrey O'Connor

### The majority of the rows with a missing rating are Shorts/Documentaries
- Going to leave them b/c will most likely be used in modeling

### Check Title Type column
- There are a few categories that seem odd but will leave, if they join with the felix_df then they will be used

In [32]:
swathi_df['Title Type'].value_counts()

Title Type
Movie         3836
Short         1279
TV Movie        14
TV Episode      12
Video            3
TV Short         2
TV Series        2
Name: count, dtype: int64

### Look into rows missing run time

In [33]:
swathi_df[swathi_df['Runtime (mins)'].isnull()]
# They are all shorts/documentaries, if they merge with the felix_df then runtimes will be manually inputed

,Title,Original Title,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
124,Screen Souvenirs,Screen Souvenirs,Short,5.2,NaN,1932,Short,29,NaN,NaN
829,50th Anniversary of Motion Pictures,50th Anniversary of Motion Pictures,Short,5.3,NaN,1944,Short,23,1944,NaN
1171,Chase of Death,Chase of Death,Short,NaN,NaN,1949,Short,0,NaN,Irving Allen
1576,The House Without a Name,The House Without a Name,Short,6.8,NaN,1956,"Documentary, Short",10,NaN,Joe Parker
1772,Rebel in Paradise,Rebel in Paradise,Movie,7.1,NaN,1960,Documentary,12,NaN,NaN
1831,L'uomo in grigio,L'uomo in grigio,Short,NaN,NaN,1961,"Documentary, Short",0,NaN,NaN
1889,The Cliff Dwellers,The Cliff Dwellers,Short,NaN,NaN,1962,Short,0,1962,Hayward Anderson
1938,To Live Again,To Live Again,Short,NaN,NaN,1963,"Documentary, Short",0,1963-07-10,NaN
2292,A Long Way from Nowhere,A Long Way from Nowhere,Short,NaN,NaN,1970,"Documentary, Short",0,NaN,NaN
2491,Planet Ocean,Planet Ocean,Short,7.6,NaN,1974,Short,14,NaN,NaN
3281,American Masters: Waldo Salt: A Screenwriter's...,American Masters: Waldo Salt: A Screenwriter's...,TV Episode,7.2,NaN,1990,"Documentary, Biography, History, Music",146,1992-05-01,"Eugene Corr, Robert Hillmann"
3283,Burning Down Tomorrow,Burning Down Tomorrow,Short,8.0,NaN,1990,"Documentary, Short",14,NaN,Kit Thomas

### Check the row with the missing genre

In [34]:
swathi_df[swathi_df['Genres'].isnull()]
# If it appears after the merge, will be manually inputed

,Title,Original Title,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
3437,Partners,Partners,TV Movie,5.9,36.0,1993,NaN,79,1993-11-12,Peter Weller

### Check rows with missing release dates

In [35]:
swathi_df[swathi_df['Release Date'].isnull()]
# If all the rows merge, the year of the ceramony will be inputted, the ceramony year is the same as the release year

,Title,Original Title,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
124,Screen Souvenirs,Screen Souvenirs,Short,5.2,NaN,1932,Short,29,NaN,NaN
306,Deep South,Deep South,Short,NaN,20.0,1937,"Short, Musical",0,NaN,Leslie Goodwins
366,Timber Toppers,Timber Toppers,Short,6.3,10.0,1938,Short,19,NaN,NaN
540,Adventure in the Bronx,Adventure in the Bronx,Short,5.0,12.0,1941,"Documentary, Short",30,NaN,Joseph Krumgold
544,Life of a Thoroughbred,Life of a Thoroughbred,Short,7.0,11.0,1941,"Short, Documentary",14,NaN,Tom Cummiskey
...,...,...,...,...,...,...,...,...,...,...
3720,Holiday Romance,Holiday Romance,Short,6.9,19.0,1998,"Comedy, Short",130,NaN,J.J. Keith
3772,The Wildest Show in the South: The Angola Pris...,The Wildest Show in the South: The Angola Pris...,Short,6.3,30.0,1999,"Documentary, Short, Sport",96,NaN,Simeon Soffer
3825,Big Mama,Big Mama,Short,6.5,35.0,2000,"Short, Documentary",144,NaN,Tracy Seretean
4028,Mighty Times: The Children's March,Mighty Times: The Children's March,Short,7.8,40.0,2004,"Documentary, Short, Drama",137,NaN,Robert Houston
4530,Prison Terminal: The Last Days of Private Jack...,Prison Terminal: The Last Days of Private Jack...,Short,7.5,40.0,2013,"Documentary, Short, Biography, Crime",333,NaN,Edgar Barens

### Check rows with missing Directors

In [36]:
swathi_df[swathi_df['Directors'].isnull()]
# if they merge, will manually replace Directors

,Title,Original Title,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
76,With Byrd at the South Pole,With Byrd at the South Pole,Movie,6.9,82.0,1930,"Documentary, Adventure",425,1930-06-28,NaN
123,Wrestling Swordfish,Wrestling Swordfish,Short,4.9,8.0,1931,"Documentary, Short, Adventure, Sport",37,1931-11-08,NaN
124,Screen Souvenirs,Screen Souvenirs,Short,5.2,NaN,1932,Short,29,NaN,NaN
147,Krakatoa,Krakatoa,Short,6.5,23.0,1933,"Documentary, Short",56,1933-04-23,NaN
175,Bosom Friends,Bosom Friends,Short,NaN,10.0,1934,Short,0,1934-04-23,NaN
...,...,...,...,...,...,...,...,...,...,...
3123,Eyes on the Prize,Eyes on the Prize,TV Series,9.2,360.0,1987,"Documentary, History",789,1987-01-21,NaN
3232,Yad Vashem: Preserving the Past to Ensure the ...,Yad Vashem: Preserving the Past to Ensure the ...,Short,6.4,15.0,1989,"Documentary, Short",37,NaN,NaN
3378,Beyond Imagining: Margaret Anderson and the 'L...,Beyond Imagining: Margaret Anderson and the 'L...,Short,6.9,30.0,1994,"Documentary, Short",16,1994-12-07,NaN
3429,For Better or for Worse,For Better or for Worse,Movie,7.1,57.0,1993,Documentary,42,NaN,NaN
3724,The Canterbury Tales,The Canterbury Tales,TV Series,6.5,28.0,1998,Animation,257,1998-12-21,NaN

In [37]:
swathi_df.to_csv('cleaned_swathi_df.csv', index=False)

# Need to encode award categories beofre the 2 df's can be merged

In [38]:
# One-hot encode the 'oscar_category' column
won_df = felix_df[felix_df['status'] == 'Won']

ohe = pd.get_dummies(won_df['oscar_category']).astype(int)

In [39]:
felix_ohe = pd.concat([felix_df, ohe], axis=1)

In [40]:
felix_grouped = felix_ohe.groupby('film', as_index=False).sum()

In [41]:
felix_grouped

,film,ceremony_year,ceremony,status,oscar_category,Actor in a Leading Role,Actor in a Supporting Role,Actress in a Leading Role,Actress in a Supporting Role,Animated Feature Film,...,International Feature Film,Live Action Short Film,Makeup and Hairstyling,Music (Original Score),Music (Original Song),Production Design,Sound,Visual Effects,Writing (Adapted Screenplay),Writing (Original Screenplay)
0,"$1,000 a Minute",1936,8th,Nominated,Sound,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,'38',1987,59th,Nominated,International Feature Film,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,'Crocodile' Dundee,1987,59th,Nominated,Writing (Original Screenplay),0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,'Round Midnight,3974,59th59th,NominatedWon,Actor in a Leading RoleMusic (Original Score),0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,(A) Torzija [(A) Torsion],2004,76th,Nominated,Live Action Short Film,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5128,"sex, lies, and videotape",1990,62nd,Nominated,Writing (Original Screenplay),0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5129,the accountant,2002,74th,Won,Live Action Short Film,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5130,the end,1996,68th,Nominated,Animated Short Film,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5131,"tick, tick...BOOM!",4044,94th94th,NominatedNominated,Actor in a Leading RoleFilm Editing,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5132,tom thumb,1959,31st,Won,Visual Effects,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [42]:
#win_columns = [col for col in felix_grouped.columns if col.startswith('won_')]
# Sum all one-hot encoded category columns to get the total Oscars won
felix_grouped['total_oscars_won'] = felix_grouped.iloc[:, 6:].sum(axis=1)

In [43]:
# Sum across those columns to get total Oscar wins per film
#felix_grouped['total_oscars_won'] = felix_grouped[win_columns].sum(axis=1)
#felix_grouped.head()
#felix_grouped['won'] = (felix_grouped['total_oscars_won'] > 1).astype(int)
#felix_grouped.head()
felix_grouped.head()

,film,ceremony_year,ceremony,status,oscar_category,Actor in a Leading Role,Actor in a Supporting Role,Actress in a Leading Role,Actress in a Supporting Role,Animated Feature Film,...,Live Action Short Film,Makeup and Hairstyling,Music (Original Score),Music (Original Song),Production Design,Sound,Visual Effects,Writing (Adapted Screenplay),Writing (Original Screenplay),total_oscars_won
0,"$1,000 a Minute",1936,8th,Nominated,Sound,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,'38',1987,59th,Nominated,International Feature Film,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,'Crocodile' Dundee,1987,59th,Nominated,Writing (Original Screenplay),0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,'Round Midnight,3974,59th59th,NominatedWon,Actor in a Leading RoleMusic (Original Score),0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,(A) Torzija [(A) Torsion],2004,76th,Nominated,Live Action Short Film,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Need to drop 
- 'ceremony_year' b/c it added the sum if a movie was nominated more than once
- 'oscar_category' onehotencoded so it needs to be dropped

In [44]:
felix_grouped.drop(columns = ['ceremony_year', 'oscar_category', 'status'], inplace = True)

In [45]:
felix_grouped.head()

,film,ceremony,Actor in a Leading Role,Actor in a Supporting Role,Actress in a Leading Role,Actress in a Supporting Role,Animated Feature Film,Animated Short Film,Best Picture,Cinematography,...,Live Action Short Film,Makeup and Hairstyling,Music (Original Score),Music (Original Song),Production Design,Sound,Visual Effects,Writing (Adapted Screenplay),Writing (Original Screenplay),total_oscars_won
0,"$1,000 a Minute",8th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,'38',59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,'Crocodile' Dundee,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,'Round Midnight,59th59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,(A) Torzija [(A) Torsion],76th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Change film to Title Case to make sure the df merge properly

In [46]:
# Strip leading/trailing whitespace, remove quotes, and convert to title case (or camelCase)
felix_grouped['film'] = (
    felix_grouped['film']
    .str.strip()  # Remove leading and trailing whitespace
    .str.replace(r"['\"]", '', regex=True)  # Remove single or double quotes
    .str.title()  # Convert to title case 
)

In [47]:
felix_grouped.head()

,film,ceremony,Actor in a Leading Role,Actor in a Supporting Role,Actress in a Leading Role,Actress in a Supporting Role,Animated Feature Film,Animated Short Film,Best Picture,Cinematography,...,Live Action Short Film,Makeup and Hairstyling,Music (Original Score),Music (Original Song),Production Design,Sound,Visual Effects,Writing (Adapted Screenplay),Writing (Original Screenplay),total_oscars_won
0,"$1,000 A Minute",8th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,38,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Crocodile Dundee,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Round Midnight,59th59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,(A) Torzija [(A) Torsion],76th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
felix_grouped['ceremony'].value_counts()

ceremony
96th                                        96
16th                                        74
14th                                        68
15th                                        65
17th                                        55
                                            ..
36th36th36th36th36th36th36th                 1
36th36th36th36th36th36th36th36th             1
14th14th14th14th14th14th14th14th14th14th     1
60th60th60th60th60th                         1
42nd42nd42nd42nd42nd                         1
Name: count, Length: 815, dtype: int64

In [49]:
felix_grouped['ceremony'] = felix_grouped['ceremony'].str.extract(r'(\d{1,2}(?:st|nd|rd|th))')[0]

In [50]:
felix_grouped

,film,ceremony,Actor in a Leading Role,Actor in a Supporting Role,Actress in a Leading Role,Actress in a Supporting Role,Animated Feature Film,Animated Short Film,Best Picture,Cinematography,...,Live Action Short Film,Makeup and Hairstyling,Music (Original Score),Music (Original Song),Production Design,Sound,Visual Effects,Writing (Adapted Screenplay),Writing (Original Screenplay),total_oscars_won
0,"$1,000 A Minute",8th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,38,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Crocodile Dundee,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Round Midnight,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,(A) Torzija [(A) Torsion],76th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5128,"Sex, Lies, And Videotape",62nd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5129,The Accountant,74th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5130,The End,68th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5131,"Tick, Tick...Boom!",94th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5132,Tom Thumb,31st,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

### Add a column for each row (True or False) if a movie won an oscar

In [51]:
felix_grouped['won'] = (felix_grouped['total_oscars_won'] >= 1).astype(int)

In [52]:
felix_grouped.head()

,film,ceremony,Actor in a Leading Role,Actor in a Supporting Role,Actress in a Leading Role,Actress in a Supporting Role,Animated Feature Film,Animated Short Film,Best Picture,Cinematography,...,Makeup and Hairstyling,Music (Original Score),Music (Original Song),Production Design,Sound,Visual Effects,Writing (Adapted Screenplay),Writing (Original Screenplay),total_oscars_won,won
0,"$1,000 A Minute",8th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,38,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,Crocodile Dundee,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,Round Midnight,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
4,(A) Torzija [(A) Torsion],76th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [53]:
# Convert column names to snake_case
felix_grouped.columns = (felix_grouped.columns
                    .str.replace(r'\s+', '_', regex=True)  # Replace spaces with underscores
                    .str.replace(r'[()]', '', regex=True)  # Remove parentheses only
                    .str.lower())

In [54]:
felix_grouped.head()

,film,ceremony,actor_in_a_leading_role,actor_in_a_supporting_role,actress_in_a_leading_role,actress_in_a_supporting_role,animated_feature_film,animated_short_film,best_picture,cinematography,...,makeup_and_hairstyling,music_original_score,music_original_song,production_design,sound,visual_effects,writing_adapted_screenplay,writing_original_screenplay,total_oscars_won,won
0,"$1,000 A Minute",8th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,38,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,Crocodile Dundee,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,Round Midnight,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
4,(A) Torzija [(A) Torsion],76th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

# Merge the 2 dataframes

In [55]:
felix_grouped.shape

(5133, 27)

In [56]:
swathi_df.shape

(5148, 10)

In [57]:
# Change all the title names in swathi_df to be title case so they match when merge
swathi_df['Title'] = (
    swathi_df['Title']
    .str.strip()  # Remove leading and trailing whitespace
    .str.replace(r"['\"]", '', regex=True)  # Remove single or double quotes
    .str.title()  # Convert to title case (you can switch to camel case as needed)
)

In [58]:
# Merge Felix and Swathi dataframes on movie title
merged_df = pd.merge(felix_grouped, swathi_df, left_on = 'film', right_on = 'Title', how = 'inner')

In [59]:
merged_df.shape

(4648, 37)

In [60]:
merged_df.head()
merged_df['total_oscars_won'].value_counts()
merged_df['won'] = (merged_df['total_oscars_won'] >= 1).astype(int)

## Drop columns:
- Title
- Original Title

In [61]:
merged_df.drop(columns = ['Title', 'Original Title'], inplace = True)

In [62]:
merged_df.head()

,film,ceremony,actor_in_a_leading_role,actor_in_a_supporting_role,actress_in_a_leading_role,actress_in_a_supporting_role,animated_feature_film,animated_short_film,best_picture,cinematography,...,total_oscars_won,won,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,38,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,Movie,6.2,97.0,1986,Drama,203,1986,Wolfgang Glck
1,Crocodile Dundee,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,Movie,6.6,97.0,1986,"Adventure, Comedy",119780,1986-09-26,Peter Faiman
2,Round Midnight,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1,Movie,7.4,133.0,1986,"Drama, Music",6086,1986-10-03,Bertrand Tavernier
3,10,52nd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,Movie,6.1,122.0,1979,"Comedy, Romance",19854,1979-10-05,Blake Edwards
4,102 Dalmatians,73rd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,Movie,4.9,100.0,2000,"Adventure, Comedy, Family",40686,2000-11-22,Kevin Lima

In [63]:
merged_df.drop(columns = 'Release Date', inplace = True)

In [64]:
# I want to one hot encode genres
merged_df['Genres'].value_counts()

Genres
Drama                                          292
Documentary, Short                             292
Drama, Romance                                 225
Comedy, Drama, Romance                         133
Documentary                                    129
                                              ...
Animation, Musical, Short, Family, Comedy        1
Documentary, Talk-Show                           1
Adventure, Family, Fantasy, Romance, Sci-Fi      1
Animation, Musical, Short, Comedy, Family        1
Drama, Horror, Mystery                           1
Name: count, Length: 1006, dtype: int64

In [65]:
merged_df['Genres'].unique()

array(['Drama', 'Adventure, Comedy', 'Drama, Music', ...,
       'Documentary, Drama, Short',
       'Animation, Action, Adventure, Comedy, Crime, Family, Mystery',
       'Drama, Horror, Mystery'], dtype=object)

In [66]:
merged_df['Genres'] = merged_df['Genres'].apply(lambda x: x.split(', ') if isinstance(x, str) else [])

In [67]:
# Example check to see if it worked
print(merged_df['Genres'].head())

0                        [Drama]
1            [Adventure, Comedy]
2                 [Drama, Music]
3              [Comedy, Romance]
4    [Adventure, Comedy, Family]
Name: Genres, dtype: object

In [68]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
genre_encoded = mlb.fit_transform(merged_df['Genres'])

In [69]:
# Create a DataFrame for the one-hot encoded genres
genre_df = pd.DataFrame(genre_encoded, columns=mlb.classes_, index=merged_df.index)

In [70]:
# Concatenate the new DataFrame with the original DataFrame (without the 'Genres' column)
merged_df = pd.concat([merged_df.drop(columns=['Genres']), genre_df], axis=1)

In [71]:
print(np.array(merged_df.columns))

['film' 'ceremony' 'actor_in_a_leading_role' 'actor_in_a_supporting_role'
 'actress_in_a_leading_role' 'actress_in_a_supporting_role'
 'animated_feature_film' 'animated_short_film' 'best_picture'
 'cinematography' 'costume_design' 'directing' 'documentary_feature_film'
 'documentary_short_film' 'film_editing' 'international_feature_film'
 'live_action_short_film' 'makeup_and_hairstyling' 'music_original_score'
 'music_original_song' 'production_design' 'sound' 'visual_effects'
 'writing_adapted_screenplay' 'writing_original_screenplay'
 'total_oscars_won' 'won' 'Title Type' 'IMDb Rating' 'Runtime (mins)'
 'Year' 'Num Votes' 'Directors' 'Action' 'Adventure' 'Animation'
 'Biography' 'Comedy' 'Crime' 'Documentary' 'Drama' 'Family' 'Fantasy'
 'Film-Noir' 'History' 'Horror' 'Music' 'Musical' 'Mystery' 'News'
 'Romance' 'Sci-Fi' 'Short' 'Sport' 'Talk-Show' 'Thriller' 'War' 'Western']

In [72]:
# snake case all title names 
merged_df.columns = merged_df.columns.str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [73]:
merged_df.isnull().sum()

film                             0
ceremony                         0
actor_in_a_leading_role          0
actor_in_a_supporting_role       0
actress_in_a_leading_role        0
actress_in_a_supporting_role     0
animated_feature_film            0
animated_short_film              0
best_picture                     0
cinematography                   0
costume_design                   0
directing                        0
documentary_feature_film         0
documentary_short_film           0
film_editing                     0
international_feature_film       0
live_action_short_film           0
makeup_and_hairstyling           0
music_original_score             0
music_original_song              0
production_design                0
sound                            0
visual_effects                   0
writing_adapted_screenplay       0
writing_original_screenplay      0
total_oscars_won                 0
won                              0
title_type                       0
imdb_rating                     58
runtime_mins                     8
year                             0
num_votes                        0
directors                       66
action                           0
adventure                        0
animation                        0
biography                        0
comedy                           0
crime                            0
documentary                      0
drama                            0
family                           0
fantasy                          0
film-noir                        0
history                          0
horror                           0
music                            0
musical                          0
mystery                          0
news                             0
romance                          0
sci-fi                           0
short                            0
sport                            0
talk-show                        0
thriller                         0
war                              0
western                          0
dtype: int64

In [74]:
merged_df.to_csv('oscars.csv', index=False)

In [75]:
oscars = pd.read_csv('../data/oscars.csv')
oscars.head()

,film,ceremony,actor_in_a_leading_role,actor_in_a_supporting_role,actress_in_a_leading_role,actress_in_a_supporting_role,animated_feature_film,animated_short_film,best_picture,cinematography,...,mystery,news,romance,sci-fi,short,sport,talk-show,thriller,war,western
0,38,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,Crocodile Dundee,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,Round Midnight,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,10,52nd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
4,102 Dalmatians,73rd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
oscars.columns

Index(['film', 'ceremony', 'actor_in_a_leading_role',
       'actor_in_a_supporting_role', 'actress_in_a_leading_role',
       'actress_in_a_supporting_role', 'animated_feature_film',
       'animated_short_film', 'best_picture', 'cinematography',
       'costume_design', 'directing', 'documentary_feature_film',
       'documentary_short_film', 'film_editing', 'international_feature_film',
       'live_action_short_film', 'makeup_and_hairstyling',
       'music_original_score', 'music_original_song', 'production_design',
       'sound', 'visual_effects', 'writing_adapted_screenplay',
       'writing_original_screenplay', 'total_oscars_won', 'won', 'title_type',
       'imdb_rating', 'runtime_mins', 'year', 'num_votes', 'directors',
       'action', 'adventure', 'animation', 'biography', 'comedy', 'crime',
       'documentary', 'drama', 'family', 'fantasy', 'film-noir', 'history',
       'horror', 'music', 'musical', 'mystery', 'news', 'romance', 'sci-fi',
       'short', 'sport', 'talk-show', 'thriller', 'war', 'western'],
      dtype='object')

In [77]:
oscars['total_oscars_won'].value_counts()

total_oscars_won
0.0     3394
1.0      910
2.0      151
3.0       81
4.0       49
5.0       22
6.0       16
7.0       12
8.0        4
9.0        3
11.0       3
12.0       2
10.0       1
Name: count, dtype: int64

In [78]:
oscars['won'].value_counts()

won
0    3394
1    1254
Name: count, dtype: int64

In [79]:
felix_df.groupby('film').nunique()

                           ceremony_year  ceremony  status  oscar_category
film
$1,000 a Minute                        1         1       1               1
'38'                                   1         1       1               1
'Crocodile' Dundee                     1         1       1               1
'Round Midnight                        1         1       2               2
(A) Torzija [(A) Torsion]              1         1       1               1
...                                  ...       ...     ...             ...
sex, lies, and videotape               1         1       1               1
the accountant                         1         1       1               1
the end                                1         1       1               1
tick, tick...BOOM!                     1         1       1               2
tom thumb                              1         1       1               1

[5133 rows x 4 columns]

In [80]:
felix_df.shape

(10631, 5)

In [81]:
felix_grouped.shape

(5133, 27)

In [82]:
oscars.shape

(4648, 58)

In [83]:
oscars['won'].value_counts()

won
0    3394
1    1254
Name: count, dtype: int64

In [84]:
df_rolled = pd.read_csv('../data/df_rolled.csv')
df_rolled.head()

,film,Oscar_Winner,num_nominations,Title,IMDb Rating,Runtime (mins),Year,Num Votes,IMDb Popularity,Num Directors,...,award_International Feature,award_Makeup and Hairstyling,award_Music,award_Other,award_Picture,award_Production Design,award_Short Film,award_Sound,award_Visual Effects,award_Writing
0,'Round Midnight,1,2,'Round Midnight,7.4,133.0,1986,6086,45036.4,1,...,0,0,1,0,0,0,0,0,0,0
1,10,0,2,10,6.1,122.0,1979,19854,121109.4,1,...,0,0,2,0,0,0,0,0,0,0
2,102 Dalmatians,0,1,102 Dalmatians,4.9,100.0,2000,40686,199361.4,1,...,0,0,0,0,0,0,0,0,0,0
3,12,0,1,12,7.5,159.0,2007,15671,117532.5,1,...,1,0,0,0,0,0,0,0,0,0
4,12 Angry Men,0,3,12 Angry Men,9.0,96.0,1957,920267,8282403.0,1,...,0,0,0,1,1,0,0,0,0,0

In [85]:
df_rolled.shape

(4572, 32)

In [86]:
# Change all the title names in swathi_df to be title case so they match when merge
df_rolled['film'] = (
    df_rolled['film']
    .str.strip()  # Remove leading and trailing whitespace
    .str.replace(r"['\"]", '', regex=True)  # Remove single or double quotes
    .str.title()  # Convert to title case (you can switch to camel case as needed)
)

In [87]:
final_df = pd.merge(oscars, df_rolled, left_on = 'film', right_on = 'film', how = 'inner')
final_df.shape

(4641, 89)

In [88]:
final_df.head()

,film,ceremony,actor_in_a_leading_role,actor_in_a_supporting_role,actress_in_a_leading_role,actress_in_a_supporting_role,animated_feature_film,animated_short_film,best_picture,cinematography,...,award_International Feature,award_Makeup and Hairstyling,award_Music,award_Other,award_Picture,award_Production Design,award_Short Film,award_Sound,award_Visual Effects,award_Writing
0,Round Midnight,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
1,10,52nd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,2,0,0,0,0,0,0,0
2,102 Dalmatians,73rd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,12,80th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
4,12 Angry Men,30th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,1,0,0,0,0,0

In [89]:
final_df.rename(
    columns={col: col.replace('award_', 'nominated_').lower().replace(' ', '_') for col in final_df.columns if col.startswith('award_')},
    inplace=True
)

In [90]:
final_df.head()

,film,ceremony,actor_in_a_leading_role,actor_in_a_supporting_role,actress_in_a_leading_role,actress_in_a_supporting_role,animated_feature_film,animated_short_film,best_picture,cinematography,...,nominated_international_feature,nominated_makeup_and_hairstyling,nominated_music,nominated_other,nominated_picture,nominated_production_design,nominated_short_film,nominated_sound,nominated_visual_effects,nominated_writing
0,Round Midnight,59th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
1,10,52nd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,2,0,0,0,0,0,0,0
2,102 Dalmatians,73rd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,12,80th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
4,12 Angry Men,30th,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,1,0,0,0,0,0

In [91]:
final_df.columns

Index(['film', 'ceremony', 'actor_in_a_leading_role',
       'actor_in_a_supporting_role', 'actress_in_a_leading_role',
       'actress_in_a_supporting_role', 'animated_feature_film',
       'animated_short_film', 'best_picture', 'cinematography',
       'costume_design', 'directing', 'documentary_feature_film',
       'documentary_short_film', 'film_editing', 'international_feature_film',
       'live_action_short_film', 'makeup_and_hairstyling',
       'music_original_score', 'music_original_song', 'production_design',
       'sound', 'visual_effects', 'writing_adapted_screenplay',
       'writing_original_screenplay', 'total_oscars_won', 'won', 'title_type',
       'imdb_rating', 'runtime_mins', 'year', 'num_votes', 'directors',
       'action', 'adventure', 'animation', 'biography', 'comedy', 'crime',
       'documentary', 'drama', 'family', 'fantasy', 'film-noir', 'history',
       'horror', 'music', 'musical', 'mystery', 'news', 'romance', 'sci-fi',
       'short', 'sport', 'talk-show', 'thriller', 'war', 'western',
       'Oscar_Winner', 'num_nominations', 'Title', 'IMDb Rating',
       'Runtime (mins)', 'Year', 'Num Votes', 'IMDb Popularity',
       'Num Directors', 'Comedy', 'Romance', 'Drama', 'War', 'Adventure',
       'nominated_acting', 'nominated_animation', 'nominated_cinematography',
       'nominated_costume_design', 'nominated_directing',
       'nominated_documentary', 'nominated_editing',
       'nominated_international_feature', 'nominated_makeup_and_hairstyling',
       'nominated_music', 'nominated_other', 'nominated_picture',
       'nominated_production_design', 'nominated_short_film',
       'nominated_sound', 'nominated_visual_effects', 'nominated_writing'],
      dtype='object')

In [92]:
final_df.drop(columns = ['Oscar_Winner','Title', 'IMDb Rating','Runtime (mins)','Year','Num Votes','Comedy','Romance',
                         'Drama','War','Adventure'], inplace = True)

In [93]:
import re
final_df.columns = [re.sub(r'([a-z0-9])([A-Z])', r'\1_\2', col).lower().replace(' ', '_') for col in final_df.columns]

In [94]:
final_df.columns

Index(['film', 'ceremony', 'actor_in_a_leading_role',
       'actor_in_a_supporting_role', 'actress_in_a_leading_role',
       'actress_in_a_supporting_role', 'animated_feature_film',
       'animated_short_film', 'best_picture', 'cinematography',
       'costume_design', 'directing', 'documentary_feature_film',
       'documentary_short_film', 'film_editing', 'international_feature_film',
       'live_action_short_film', 'makeup_and_hairstyling',
       'music_original_score', 'music_original_song', 'production_design',
       'sound', 'visual_effects', 'writing_adapted_screenplay',
       'writing_original_screenplay', 'total_oscars_won', 'won', 'title_type',
       'imdb_rating', 'runtime_mins', 'year', 'num_votes', 'directors',
       'action', 'adventure', 'animation', 'biography', 'comedy', 'crime',
       'documentary', 'drama', 'family', 'fantasy', 'film-noir', 'history',
       'horror', 'music', 'musical', 'mystery', 'news', 'romance', 'sci-fi',
       'short', 'sport', 'talk-show', 'thriller', 'war', 'western',
       'num_nominations', 'imdb_popularity', 'num_directors',
       'nominated_acting', 'nominated_animation', 'nominated_cinematography',
       'nominated_costume_design', 'nominated_directing',
       'nominated_documentary', 'nominated_editing',
       'nominated_international_feature', 'nominated_makeup_and_hairstyling',
       'nominated_music', 'nominated_other', 'nominated_picture',
       'nominated_production_design', 'nominated_short_film',
       'nominated_sound', 'nominated_visual_effects', 'nominated_writing'],
      dtype='object')

In [106]:
final_df.shape

(4641, 78)

In [105]:
final_df['year'].max()

2024

In [ ]:
final_df.to_csv('final.csv', index=False)